<div>
  <app-navbar></app-navbar>
</div>

<div class="flex">
  <app-sidebar></app-sidebar>


  <div class="h-full w-full ">

    <div class="flex m-5 justify-between">

      <div>
        <p class="text-black font-medium justify-start text-lg font-bold">TABELA
          DE ESPECIALIZAÇÃO</p>
      </div>

      <div class="justify-end">
        <a routerLink="register" routerLinkActive="active">
          <app-button-green [value] = "Adicionar" ></app-button-green>
        </a>
      </div>

    </div>

    <div class="flex justify-between m-5">

      <div class="flex">
        <div class="flex items-center mr-3">
          <input checked id="ativo" type="radio" value="" name="tipos" (click)=getByAtivo() class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 focus:ring-green-500">
          <label for="ativo" class="ml-2 text-sm font-medium text-black" >Ativo</label>
        </div>
        <div class="flex items-center">
          <input id="inativo" type="radio" value="" name="tipos" (click)=getByInativo() class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 focus:ring-green-500">
          <label for="inativo" class="ml-2 text-sm font-medium text-black" >Inativo</label>
        </div>
      </div>


      <div class="">
        <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
            </div>
            <input matInput (keyup)="applyFilter($event)" placeholder="Filter" class="block w-full p-2 pl-10 text-sm text-black border border-green-300 rounded-lg bg-blue-100"  required>
        </div>
      </div>

    </div>

    <div class="h-full w-full p-4 " >
      <mat-table mat-table [dataSource]="especialidadeArray" class="border-2 border-lime-400">

        <ng-container matColumnDef="id">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let especialidade"> {{especialidade.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="especialidade">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let especialidade"> {{especialidade.especialidade}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <div>
            <mat-header-cell mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let especialidade"> {{especialidade.actived}} </mat-cell>
          </div>
        </ng-container>

        <ng-container matColumnDef="info" cl>
          <mat-header-cell mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let especialidade">
            <app-button-yellow [value] = "Info" (click)="info(especialidade)" value="{{especialidade.id}}" class="p-2"></app-button-yellow>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="excluir">
          <mat-header-cell mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let especialidade">
            <div *ngIf="especialidade.actived == 'Ativo'">
              <app-button-red [value]="mandaFiltroFalse" (click)="openDialog(especialidade)"></app-button-red>
            </div>
            <div *ngIf="especialidade.actived == 'Desativado'">
              <app-button-green [value]="mandaFiltroTrue" (click)="ativar(especialidade)"></app-button-green>
            </div>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true">
    </mat-paginator>

    </div>


  </div>

</div>

