
<!-- <nav class="border-gray-200 px-2 sm:px-4 py-2.5 navbar">

</nav> -->


<nav class="bg-sky-500 border-gray-200 ">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a routerLink="/home" routerLinkActive="active" class="flex items-center">
        <img src="./../../../assets/logo.png" class="h-8 mr-3" alt="Flowbite Logo" />
        <span class="self-center text-2xl text-white font-semibold whitespace-nowrap ">Saúde Solidaria</span>
    </a>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border rounded-lg  md:flex-row md:space-x-8 md:mt-0 md:border-0">
        <!-- <li>
          <a href="#" class="pl-3 pr-2 text-white rounded">Consultas</a>
        </li>
        <li>
          <a href="#" class="pl-3 pr-2 text-white rounded">Médicos</a>
        </li>
        <li>
          <a href="#" class="pl-3 pr-2 text-white rounded">Locais</a>
        </li> -->
        <!-- <li>
          <div class="flex flex-wrap items-center justify-end mx-auto">
            <div class="flex">
             <div *ngIf="jwt != null">
              <button (click)="logout()" class="flex button-logout">
                <span class="icon-button material-symbols-outlined">
                  logout
                </span>
              </button>
             </div>
            </div>
            </div>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
