<div class="h-full">
  <div>
    <app-navbar></app-navbar>
  </div>


    <div class="h-full m-60 ">
      <div class="p-5 h-full">
        <div class="text-5xl mb-4 blue">Consulta</div>

        <div>
          <h3>Local:</h3>
          <p>{{ consulta!.nome_local }}</p>
          <h3>Rua:</h3>
          <p>{{ consulta!.rua }} - {{ consulta!.numero }}</p>
          <h3>Bairro:</h3>
          <p>{{ consulta!.bairro }}</p>
        </div>

        <div>
          <h3>Médico:</h3>
          <p>{{ consulta!.nome_medico }}</p>
          <h3>CRM:</h3>
          <p>{{ consulta!.crm }}</p>
          <h3>Especialização:</h3>
          <p>{{ consulta!.especialidade }}</p>
        </div>

        <div class="center pb-5">
         <div style="width: 55%"><iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=pt&amp;q=R.%20Francisco%20Ribeiro%202,%201150-165%20Lisbon,%20Portugal+(Nome%20da%20Minha%20Empresa)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/golf-gps/">golf course gps</a></iframe></div>
        </div>
      </div>
    </div>


</div>
