
<div style="height: 100% !important; ">
  <div>
    <app-navbar></app-navbar>

  </div>

  <div class="" >


    <div class="img-wallpaper">
    <div class="lg:flex sm:block md:flex justify-center align-items-center mt-10">
      <div class="lg:flex sm:block md:flex justify-center items-center">
        <div class="sm:p-10 md:p-10">
          <p class="text-6xl text-bold text-blue-500 dark:text-white text-center font m-5 p-5">Deseja ver as consultas?</p>
          <div class="flex">
            <button routerLink="/consultapublico" routerLinkActive="active" type="button" class=" m-auto flex text-white bg-sky-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Ver Consultas</button>
          </div>

        </div>

        <div class="justify-center align-items-center flex">
          <img src="./../../../assets/1618253426770_image01.png" height="80%" width="80%" alt="care_image">
        </div>
      </div>
    </div>
    </div>

  </div>

</div>

<!-- <div class="mt-10">
  <div class="div-principal">
    <div class="div-titulo">Quem somos</div>
    <div class="div-conteudo">
      <p class="p-5 text-lg">
        O Saúde Solidária é um sistema online que visa promover o acesso à saúde para pessoas que enfrentam dificuldades financeiras ou têm limitado acesso a serviços médicos.
        Acreditamos que todos têm direito à saúde, independentemente de sua condição social ou econômica. Por isso, criamos um sistema que conecta médicos dispostos a oferecer atendimentos solidários com pessoas que precisam de cuidados médicos.
        O Saúde Solidária é um projeto de impacto social que já beneficiou milhares de pessoas. Com o seu apoio, podemos continuar a garantir o acesso à saúde para todos.
      </p>
    </div>
  </div>
</div>


<div class="justify-center align-items-center flex">

<a href="#" class="m-5 block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <h1 class="mb-2 text-2xl font-bold tracking-tight text-blue-800 dark:text-white">Solidariedade</h1>
  <p class="font-normal text-gray-700 dark:text-gray-400">Acreditamos que todos devem ter acesso à saúde, independentemente de sua condição social ou econômica.</p>
</a>


<a href="#" class="m-5 block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <h1 class="mb-2 text-2xl font-bold tracking-tight text-blue-800 dark:text-white">Inclusão</h1>
  <p class="font-normal text-gray-700 dark:text-gray-400">Queremos garantir que todos tenham a oportunidade de usufruir dos benefícios do Saúde Solidária.</p>
</a>


<a href="#" class="m-5 block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <h1 class="mb-2 text-2xl font-bold tracking-tight text-blue-800 dark:text-white">Transparência</h1>
  <p class="font-normal text-gray-700 dark:text-gray-400">Trabalhamos de forma transparente para garantir a confiança de nossos usuários.</p>
</a>
</div>
 -->

