<app-navbar></app-navbar>

<div class="flex">
  <app-sidebar></app-sidebar>

  <form class="h-full w-full m-5" [formGroup]="formulario" *ngIf="formulario">

      <div class="flex justify-between">
        <p class="text-black font-medium justify-start text-lg font-bold">EDITAR
          ESPECIALIZAÇÃO</p>
      </div>

      <div class="">
        <label class="block text-sm text-white" for="id">Código</label>
        <input formControlName="id" class="default-input text-center p-2.5" type="text" id="posicao" required>
      </div>

      <form class="h-full w-full" [formGroup]="formulario" *ngIf="formulario">
        <div>
          <div class="grid">
            <div >
              <label class="block text-sm text-black" for="especialidade">Especialidade</label>
              <input
                formControlName="especialidade"
                class="default-input w-full p-2.5"
                type="text"
                id="especialidade"
                aria-label="especialidade"
                required
              />
            </div>
          </div>
        </div>

      </form>

      <div class="items-center flex justify-between my-2">
        <div class="align-end">
          <app-button-red [value] = "Nao" (click)="return()"></app-button-red>
        </div>

        <div>
          <app-button-green [value] = "Sim" (click)="edit()"></app-button-green>
        </div>
      </div>

</form>

</div>
