<app-navbar></app-navbar>

<div class="flex">
  <app-sidebar></app-sidebar>

  <form class="h-full w-full m-5" [formGroup]="userForm" *ngIf="userForm">

      <div class="flex justify-between">
        <p class="text-black font-medium justify-start text-lg font-bold">INFO
          DO USUÁRIO</p>

      </div>

      <div class="flex justify-between">
        <app-button-green [value] = 'Voltar' (click)="return()"></app-button-green>
        <app-button-yellow [value] = 'Editar' (click)="edit()"></app-button-yellow>
      </div>

      <div class="">
        <label class="block text-sm text-black" for="nome">Código</label>
        <input formControlName="id" class="default-input text-center p-2.5" type="text" id="nome" required>
      </div>

      <form class="h-full w-full" [formGroup]="userForm" *ngIf="userForm">
        <div>
          <div class="grid">
            <div >
              <label class="block text-sm text-black" for="nome">Nome</label>
              <input
                formControlName="nome"
                class="default-input w-full p-2.5"
                type="text"
                id="nome"
                aria-label="nome"
                required
              />
            </div>

          </div>

          <div class="grid grid-cols-4">

            <div class="col-span-2 mr-4">
              <label class="block text-sm text-black" for="cpf">Cpf</label>
              <input
                formControlName="cpf"
                class="default-input w-full p-2.5"
                type="text"
                id="nome"
                aria-label="nome"
                mask="000.000.000-00"
                required
              />
            </div>

            <div class="col-span-2">
              <label
              class="block text-sm text-black"
                for="first_name"
                >Permissão</label
              >
              <input
              formControlName="role"
              class="default-input w-full p-2.5"
              type="text"
              id="role"
              aria-label="role"
              required
            />
            </div>
          </div>

          <div class="grid ">

            <div class="col">
              <label class="block text-sm text-black " for="email">E-mail</label>
              <input
                formControlName="email"
                class="default-input w-full p-2.5"
                type="email"
                id="email"
                aria-label="email"
                required
              />
            </div>


          </div>

          <div class="grid grid-cols-4">

            <div class="col-span-2 mr-4">
              <label class="block text-sm text-black" for="crm">Crm</label>
              <input
                formControlName="crm"
                class="default-input w-full p-2.5"
                type="text"
                id="nome"
                aria-label="nome"
                required
              />
            </div>

            <div class="col-span-2">
              <label
              class="block text-sm text-black"
                for="first_name"
                >Especialização</label
              >
              <input
              formControlName="especialidade"
              class="default-input w-full p-2.5"
              type="text"
              id="especialidade"
              aria-label="especialidade"
              required
            />
            </div>
          </div>
        </div>
      </form>

    </form>

</div>
