<div id="default-sidebar" class="flex h-screen sidebar" aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto">
     <ul class="space-y-2 font-medium">
        <li>
          <a routerLink="/profile" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-green-400 hover:text-black">
            <mat-icon class="hover:text-black">account_circle</mat-icon>
            <span class="hover:text-black ml-3">Meu perfil</span>
          </a>
        </li>
        <li>
          <a routerLink="/especialidade" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-green-400 hover:text-black">
           <mat-icon>work</mat-icon>
             <span class="hover:text-black flex-1 ml-3 whitespace-nowrap">Especialidades</span>
          </a>
       </li>
        <li>
           <a routerLink="/user" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-green-400 hover:text-black">
            <mat-icon>healing</mat-icon>
              <span class="hover:text-black ml-3">Médicos</span>
           </a>
        </li>
        <li>
           <a  routerLink="/jogador" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-green-400 hover:text-black">
            <mat-icon>event</mat-icon>
              <span class="hover:text-black flex-1 ml-3 whitespace-nowrap">Consultas</span>
           </a>
        </li>
        <li>
           <a routerLink="/quadra" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-green-400 hover:text-black">
            <span class="hover:text-black material-symbols-outlined">
              distance
              </span>
              <span class="hover:text-black flex-1 ml-3 whitespace-nowrap">Local</span>
           </a>
        </li>

     </ul>
  </div>
</div>
