<app-navbar></app-navbar>

<div class="flex">
  <app-sidebar></app-sidebar>

  <form class="h-full w-full m-5" [formGroup]="userForm" *ngIf="userForm">

      <div class="flex justify-between">
        <p class="text-black font-medium justify-start text-lg font-bold">EDITAR
          USUÁRIO</p>
      </div>

      <div class="">
        <label class="block text-sm text-black" for="nome">Código</label>
        <input formControlName="id" class="default-input p-2.5 text-center" type="text" id="nome" required>
      </div>

      <form class="h-full w-full" [formGroup]="userForm" *ngIf="userForm">
        <div>
          <div class="grid">
            <div >
              <label class="block text-sm text-black" for="nome">Nome</label>
              <input
                formControlName="nome"
                class="default-input w-full p-2.5"
                type="text"
                id="nome"
                aria-label="nome"
                required
              />
            </div>

          </div>

          <div class="grid grid-cols-4">

            <div class="col-span-2 mr-4">
              <label class="block text-sm text-black" for="cpf">Cpf</label>
              <input
                formControlName="cpf"
                class="default-input w-full p-2.5"
                type="text"
                id="nome"
                aria-label="nome"
                mask="000.000.000-00"
                required
              />
            </div>

            <div class="col-span-2">
              <label
              class="block text-sm text-black"
                for="first_name"
                >Permissão</label
              >
              <select
                id="posicao"
                formControlName="role"
                class="default-input w-full p-2.5"
              >
                <option value="" disabled selected>Selecione a permissão</option>
                <option *ngFor="let role of roleArray" [value]="role.id">
                  {{ role.role }}
                </option>
              </select>
            </div>
          </div>

          <div class="grid grid-cols-2">

            <div class="col mr-4">
              <label class="block text-sm text-black " for="email">E-mail</label>
              <input
                formControlName="email"
                class="default-input w-full p-2.5"
                type="email"
                id="email"
                aria-label="email"
                required
              />
            </div>

            <div class="col">
              <label class="block text-sm text-black " for="senha">Senha</label>
              <input
                formControlName="senha"
                class="default-input w-full p-2.5"
                type="password"
                id="senha"
                aria-label="senha"
                required
              />
            </div>


          </div>
        </div>
      </form>


      <div class="items-center flex justify-between my-2">
        <div class="align-end">
          <app-button-red [value] = "Nao" (click)="return()"></app-button-red>
        </div>

        <div>
          <app-button-green [value] = "Sim" (click)="edit()"></app-button-green>
        </div>
      </div>

</form>

</div>
